body {
    background: linear-gradient(to right, #c9bec8, #ba66c5);
}

.navbar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: right; 
    position: relative;
    bottom: -20px;
}
header {
    word-spacing: 25px;
    font-size: 18px;
}

.toko {
    color: brown;
    position: relative;
    top: -50px;

}

.sambutan {
    color: rgb(12, 4, 38);
    text-align: center;
    font-size: 28px;
    padding-top: 15px;
    position: relative; top: -90px;
    font-family: monospace;
}

.foto {
    position: relative; top: -50px;
}

.cerita {
    font-size: 20px;
    text-align:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative; top: -80px;
}